@model IEnumerable<FootBallStat.Championship>

@{
    ViewData["Title"] = "Чемпіонати";
}

<h1>Чемпіонати</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create"><button class="btn btn-primary"> Додати чемпіонат </button></a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-success"> Змінити </button></a> 
                        <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-success"> Команди </button></a> 
                        <a asp-action="Matches" asp-route-id="@item.Id"><button class="btn btn-success"> Матчі </button></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger"> Видалити </button></a> 
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-success"> Команди </button></a> 
                        <a asp-action="Matches" asp-route-id="@item.Id"><button class="btn btn-success"> Матчі </button></a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>


